
.table-view .column-header-background{
    -fx-background-color: #2196f3;
    /*-fx-background-radius: 30; */
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0 0 10 0;
    -fx-effect: dropshadow(two-pass-box, rgb(17, 74, 107),15,0.0,0.1,3)
}


.table-view .column-header, .table-view .filler{
    -fx-size: 40;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}

